body {
	background-image: url(aurora_borealis.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.container{
    width: 90%;
    padding: 20px;
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 70%;
    bottom: 30%;
}
.box{
    width: 250px;
    margin: 0 10px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    transition: 3s;
    top: 70%;
}
.box img{
    display: block;
    width: 100%;
    border-radius: 20px;
    top: 70%;
}
.box img:hover{
    transform: scale(1.3);
    z-index: 2;
}
.nav{
    background-color: darkblue;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.nav a{
    padding: 60px;
    font-size: 20px;
    font-family: cursive;
    color: white;
}
a:-webkit-any-link {
    cursor: pointer;
    text-decoration: blink;